<div class="page">

  <!-- SUCCESS MESSAGE -->
  <div *ngIf="isSubmitted" class="success-container">

    <div class="success-card">
      <div class="icon">✔</div>

      <h2>Check-In Successful</h2>

      <p>
        Thank you, {{formData.name}}. Your visit has been recorded.
      </p>

      <button (click)="isSubmitted=false" class="primary-btn">
        Check In Another Visitor
      </button>

    </div>

  </div>

  <!-- FORM -->
  <div *ngIf="!isSubmitted" class="card">

    <div class="header">

  <img src="ico-liceo-big.png" alt="liceologo">

      <h1>Liceo VisiTrack</h1>

    </div>

    <form (ngSubmit)="submitForm()" #visitorForm="ngForm">

      <!-- NAME -->
      <div class="form-group">

        <label>Full Name</label>

        <input
        type="text"
        name="name"
        [(ngModel)]="formData.name"
        placeholder="Enter your full name"
        required>

      </div>

      <!-- CAMPUS -->
      <div class="form-group">

        <label>Campus</label>

        <select name="campus" [(ngModel)]="formData.campus">

          <option *ngFor="let campus of campusOptions" [value]="campus">
            {{campus}}
          </option>

        </select>

      </div>

      <!-- PURPOSE -->
      <div class="form-group">

        <label>Purpose of Visit</label>

        <select name="purpose" [(ngModel)]="formData.purpose">

          <option *ngFor="let p of purposeOptions" [value]="p">
            {{p}}
          </option>

        </select>

      </div>

      <!-- DATE & TIME -->
      <div class="row">

        <div class="form-group">

          <label>Date</label>

          <input
          type="date"
          name="date"
          [(ngModel)]="formData.date"
          required>

        </div>

        <div class="form-group">

          <label>Time In</label>

          <input
          type="time"
          name="timeIn"
          [(ngModel)]="formData.timeIn"
          required>

        </div>

      </div>

      <!-- PHOTO UPLOAD -->

      <div class="form-group">

        <label>Valid ID Photo *</label>

        <div class="upload-box">

          <input type="file" (change)="onPhotoUpload($event)" accept="image/*">

          <p>Click or drag photo to upload</p>

          <small>JPG, PNG up to 5MB</small>

        </div>

      </div>

      <button type="submit" class="submit-btn">

        Submit Entry

      </button>

      <p class="note">
        Only visitors can fill up this information.
      </p>

    </form>

  </div>
<nav>
 <a routerLink="/login" class="admin-access">
  ● Admin Access
</a>
</nav>

</div>